In [1]:
# import tensorflow 
import tensorflow as tf 

# helper libraries 
import numpy as np # matrix maths 
import pandas as pd # data as tables

## Step 1

Loading data for computational purpose

In [2]:
# load data frame 
dataframe = pd.read_csv('./data.csv')
# remove unwanted columns
dataframe = dataframe.drop(['index', 'price', 'sq_price'], axis=1)
# taking first 10 columns for data
dataframe = dataframe.head(10)
dataframe

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

## Step 2

Making labels for our data set

In [3]:
# adding a label for classification 
# 1 for good buy and 0 for bad buy
dataframe.loc[:, ('y1')] = [1,1,1,0,0,1,0,1,1,1]
# creating a new column for data classification 
dataframe.loc[:, ('y2')] = dataframe['y1'] == 0
# turning y2 from TRUE/FALSE to interger of 1 and 0
dataframe.loc[:, ('y2')] = dataframe['y2'].astype(int)
dataframe

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

## Step 3 

Prepare data for tensorflow

In [4]:
# convert input to input tensor
inputX = dataframe.iloc[:,:2].values

In [5]:
# converting labels as label tensor
inputY = dataframe.iloc[:,-2:].values
inputY

array([[1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0]])

## Step 4 

Initializing our hyperparameters

In [6]:
# learning rate 
learning_rate = 0.00001

# num of iterations 
training_epochs = 2000

# display process after 
display_step = 50

# number of samples 
n_samples= inputY.size

## Step 5

Making a computational graph or neural network

In [7]:
# placeholder for input features 
x = tf.placeholder(tf.float32, [None,2])

# making a weight matrix 
W = tf.Variable(tf.zeros([2,2]))

# creating a bias matrix 
b = tf.zeros([2])

# predicting y values just like y = mx + b
y_values = tf.add(tf.matmul(x, W), b)

# making a softmax 
y = tf.nn.softmax(y_values)

# making a y placeholder 
y_ = tf.placeholder(tf.float32, [None,2])

## Step 6

Making a cost function which is **MSE**.

In [8]:
# cost function 
cost = tf.reduce_sum(tf.pow((y_ - y), 2)) / (2 * n_samples)
# Gradient Descent
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [9]:
# intialize variables and tf session 
init = tf.initialize_all_variables()
sess = tf.Session()
sess.run(init)

WARNING:tensorflow:From /home/sanidhya/anaconda3/lib/python3.6/site-packages/tensorflow/python/util/tf_should_use.py:118: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.

In [10]:
# training loop 
for i in range(training_epochs):
    sess.run(optimizer, feed_dict={x:inputX, y_:inputY})
    
    if (i) % display_step == 0:
        cc = sess.run(cost, feed_dict={x:inputX, y_:inputY})
        print("Number of iterations {}, cost = {:.9f}".format(i, cc))
        
print("Optimization Finished")
training_cost = sess.run(cost, feed_dict={x:inputX, y_:inputY})
print("Training cost= {}, W= {}, b= {}".format(training_cost, sess.run(W), sess.run(b)))

Number of iterations 0, cost = 0.134503588
Number of iterations 50, cost = 0.112963274
Number of iterations 100, cost = 0.112963282
Number of iterations 150, cost = 0.112963296
Number of iterations 200, cost = 0.112963296
Number of iterations 250, cost = 0.112963296
Number of iterations 300, cost = 0.112963311
Number of iterations 350, cost = 0.112963296
Number of iterations 400, cost = 0.112963319
Number of iterations 450, cost = 0.112963296
Number of iterations 500, cost = 0.112963319
Number of iterations 550, cost = 0.112963319
Number of iterations 600, cost = 0.112963319
Number of iterations 650, cost = 0.112963334
Number of iterations 700, cost = 0.112963319
Number of iterations 750, cost = 0.112963334
Number of iterations 800, cost = 0.112963319
Number of iterations 850, cost = 0.112963341
Number of iterations 900, cost = 0.112963341
Number of iterations 950, cost = 0.112963341
Number of iterations 1000, cost = 0.112963371
Number of iterations 1050, cost = 0.112963356
Number of iterations 1100, cost = 0.112963371
Number of iterations 1150, cost = 0.112963341
Number of iterations 1200, cost = 0.112963356
Number of iterations 1250, cost = 0.112963356
Number of iterations 1300, cost = 0.112963393
Number of iterations 1350, cost = 0.112963371
Number of iterations 1400, cost = 0.112963378
Number of iterations 1450, cost = 0.112963393
Number of iterations 1500, cost = 0.112963393
Number of iterations 1550, cost = 0.112963393
Number of iterations 1600, cost = 0.112963416
Number of iterations 1650, cost = 0.112963393
Number of iterations 1700, cost = 0.112963401
Number of iterations 1750, cost = 0.112963416
Number of iterations 1800, cost = 0.112963416
Number of iterations 1850, cost = 0.112963416
Number of iterations 1900, cost = 0.112963416
Number of iterations 1950, cost = 0.112963431
Optimization Finished
Training cost= 0.11095764487981796, W= [[ 0.00014084 -0.00014084]
 [ 0.0004558  -0.0004558 ]], b= [0. 0.]

In [11]:
# running session value 
sess.run(y, feed_dict={x:inputX, y_:inputY})

array([[0.6445981 , 0.3554019 ],
       [0.6114506 , 0.3885494 ],
       [0.66346043, 0.3365396 ],
       [0.59884965, 0.4011504 ],
       [0.700288  , 0.299712  ],
       [0.63709325, 0.36290675],
       [0.6070249 , 0.39297518],
       [0.59981257, 0.40018743],
       [0.59663063, 0.40336937],
       [0.60433394, 0.39566603]], dtype=float32)